* {
    box-sizing: border-box;
}

.posts-output {
    position: relative;
    width: 277px;
    height: 253px;

    background: #FCFAFA;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 29px;
    margin: 30px 39% 40px;
}