* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-post-detail {
    width: 90%;
    left: 80px;
    right: 80px;
    margin: 0 auto;
}

.posts-input {
    position: relative;
}
